:host {
    display: block;
    width: 100%;
    font-size: 20px;
    height: 70px;
}

.footer{
    position:fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    background-color: #44b78b;
    height: 60px;
}

.footer-img {
    height: 50px;
    padding-top: 5px;
    padding-right: 5px;
}

.git-link {
    display: flex;
    text-decoration: none;
    padding-top: 0px;
    padding-left: 5px;
}

.git-link p:hover {
    color: #0d5530;
}

.git-link .footer-img {
    margin-right: 10px;
}

.git-link p {
    line-height: 10px;
    color: black;
    padding-top: 5px;
}

@media (max-width: 700px) {
    :host {
        padding: 5px;
        font-size: 14px;
    }

    .git-link p {
        line-height: 25px;
    }
}