:root {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.createBoard {
    margin: 10px auto;
    width: 280px;
    padding: 20px;
    min-height: 73vh;
}

.createBoard div {
    margin-top: 10px;
}

.createBoard h2 {
    font-size: 30px;
}

.createBoard label {
    font-size: 20px;
}

.createBoard input {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 18px;
    width: 280px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.createBoard button {
    display: block;
    width: 285px;
    height: 50px;
    border-radius: 7px;
    border: 2px solid #44b78b;
    margin-top: 20px;
    background-color: #44b78b;
    font-size: 18px;
    color: #fff;

}

.createBoard button:hover {
    background-color: #fff;
    color: #44b78b;
    transition: background-color 0.8s ease, color 0.6s ease;
}

#title.ng-invalid.ng-touched{
    border-left: 5px solid #a94442; /* red */
}

#title.ng-valid{
    border-left: 5px solid #42A948; /* green */
}

.alert {
    padding: 15px;
    width: 260px;
    margin-top: 0;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }