<div class="modal">
    <div class="modal-content">
        <h3 *ngIf="type === 'column'">{{"CreateColumn" | translate}}</h3>
        <h3 *ngIf="type === 'task'">{{"CreateTask" | translate}}</h3>
        <h3 *ngIf="type !== 'task' && type !== 'column'">{{"ChangeTask" | translate}}</h3>

        <label>{{ "title" | translate}}</label>
        <input type="text" [(ngModel)]="title">

        <label *ngIf="type !== 'column'">{{ "description" | translate}}</label>
        <textarea *ngIf="type !== 'column'" type="text" [(ngModel)]="description"></textarea>

        <button *ngIf="type === 'column' || type === 'task'" (click)="create()">{{"create" | translate }}</button>
        <button *ngIf="type !== 'task' && type !== 'column'" (click)="create()">{{"change" | translate }}</button>
        <button (click)="closeModal()">{{ "cancel" | translate}}</button>
    </div>
</div>