<h2>
    {{ "welcome" | translate}}
</h2>
<div class="informationBlock">
    <h3> {{ "aboutProgect" | translate}}</h3>
    <p> {{ "aboutProjectInfo" | translate}}</p>
    <h4> {{ "technologies" | translate}}</h4>
    <ul>
        <li>Angular</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>HTML5</li>
        <li>CSS</li>
    </ul>
</div>
<div class="informationBlock">
    <h3> {{ "aboutCourse" | translate}} </h3>
    <p> {{ "aboutCourseInfo" | translate}} </p>
</div>
<div class="informationBlock">
    <h3>{{ "aboutMe" | translate}}</h3>
    <div class="aboutCont">
        <img src="../../../assets/img/cat.jpeg" alt="cat">
        <p>{{ "aboutMeInfo" | translate}}</p>
    </div>
</div>