.containerBoard {
    overflow: hidden;
    min-height: 100vh;
}

.board {
    min-height: 80vh;
    width: 100%;
}

.headerBoard {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.titleBoard {
    font-size: 35px;
    text-align: center;
    width: 450px;
    margin: 10px;
}

.titleBoard:hover {
    cursor: pointer;
    color: #44b78b;
    transition: all ease 0.5s;
}

button {
    display: block;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid #44b78b;
    margin-top: 10px;
    background-color: #44b78b;
    font-size: 18px;
    color: #fff;
}

button:hover {
    background-color: #fff;
    color: #44b78b;
    transition: background-color 0.8s ease, color 0.6s ease;
    cursor: pointer;
}

.grid-scroll-container {
    overflow-x: scroll;
    overflow: scroll;
    margin: 0 10px;
    overflow-y: scroll;

}

.gridColumns {
    display: flex;
    gap: 10px;
    margin: 10px;
    white-space: nowrap;
    overflow-y: scroll;
    max-height: 68vh;

}

.columnBoard {
    border: #44b78b 2px solid;
    background-color: rgb(68, 183, 139, 0.2);
    border-radius: 10px;
    min-width: 337px;
}

.titleColumn {
    background-color: #44b78b;
    border-radius: 7px;
    padding-bottom: 15px;
}

.titleColumn h3 {
    font-size: 22px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.titleColumn h3:hover {
    cursor: pointer;
    color: #fff;
    transition: all ease 0.5s;
}

.deleteColummn {
    width: 230px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid #088354;
    background-color: #fff;
    font-size: 18px;
    color: #0d5530;
    display: block;
    margin: 10px auto;
}

.deleteColummn:hover {
    background-color: #44b78b;
    color: #fff;
    transition: background-color 0.8s ease, color 0.6s ease;
    cursor: pointer;
}

.createTask {
    display: block;
    width: 230px;
    margin: 20px auto;
}

.scrollTasks {
    white-space: nowrap;
    overflow-y: scroll;
    max-height: 43vh;
    ;
}

.task {
    background-color: #fff;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
    border: #44b78b 2px solid;
}

.task button {
    width: 120px;
    height: 30px;
}

.task h4 {
    font-size: 20px;
    margin: 5px 0 5px 0;
}

.task:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    transition: all ease 0.5s;
}

.containerChangeTitleColumn {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.inputChangeTitleColumn {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 18px;
    width: 250px;
    height: 30px;
}

.btnChangeTitle {
    display: block;
    width: 30px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0px 5px;
    background-color: #fff;
    line-height: 25px;
    font-size: 22px;
    font-weight: 700;
    color: #44b78b;
}

.btnChangeTitle:hover {
    background-color: #44b78b;
    color: #fff;
    cursor: pointer;
}


.containerChangeTitleBoard {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.inputChangeTitleBoard {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 18px;
    width: 350px;
    height: 30px;
    margin: 8.5px 5px;
}

.containerChangeTitleBoard .btnChangeTitle {
    height: 34px;
    width: 34px;
    margin: 8.5px 5px;
}

@media (max-width: 800px) {
    .headerBoard {
        padding: 10px 10px 20px 10px;

    }

    .titleBoard {
        font-size: 30px;
        width: 400px;
    }

    .inputChangeTitleBoard {
        width: 290px;
    }

    .containerChangeTitleBoard {
        padding: 2px;
    }

    .columnBoard {
        min-width: 240px;
    }

    .scrollTasks {
        max-height: 40vh;
        ;
    }
}

@media (max-width: 550px) {
    .headerBoard {
        padding: 10px 10px 20px 10px;
        flex-direction: column;
    }

    .titleBoard {
        font-size: 25px;
        width: 300px;
        margin: 20px auto;
    }

    button {
        margin: 10px auto;
    }

    .columnBoard {
        min-width: 268px;
    }
}