.navigation{
    display: flex;
    justify-content: space-between;
    background-color: #44b78b;
    font-size: 20px;
    margin: 0;
}

h1{
    margin: 20px 10px;
    font-size: 40px;
}

h1:hover{
    cursor: pointer;
}

.container{
    display: flex;
}

.button{
    width: 130px;
    height: 50px;
    border-radius: 7px;
    border: 2px solid #088354;
    background-color: #fff;
    font-size: 16px;
    color: #0d5530;
    margin: 20px 10px;
}

.button:hover {
    background-color: #44b78b;
    color: #fff;
    transition: background-color 0.8s ease, color 0.6s ease;
    cursor: pointer;
}

.contName{
    display: flex;
}

.contName h4{
    margin-left:10px;
    padding: 0 10px;
    font-size: 20px;
    line-height: 32px;
    background-color: #fff;
    border-radius: 7px;
}

@media (max-width: 850px) {
    .navigation{
        display: block;
        margin: 0;
        padding: 20px;
    }

    .container{
        display: block;
        text-align: center;
    }

    .button{
        width: 200px;
        height: 50px;
        margin: 5px 20px;
    }
}

@media (max-width: 450px){
    .contName{
       flex-direction: column;
    }
}
