<nav class="navigation">
    <div class="contName">
        <h1 (click)="openStartPage()">PMA</h1>
        <h4 *ngIf="this.restapiservice.token">{{ "login" |
            translate}}: {{restapiservice.currentLogin}}</h4>
    </div>
    <div class="container">
        <app-change-lang></app-change-lang>
        <button *ngIf="!this.restapiservice.token" class="button" (click)="openRegistration()">{{ "SignUp" |
            translate}}</button>
        <button *ngIf="!this.restapiservice.token" class="button" (click)="openLogin()">{{ "LogIn" |
            translate}}</button>
        <button *ngIf="this.restapiservice.token" class="button" (click)="openCreateBoard()">{{ "CreateBoard" |
            translate}}</button>
        <button *ngIf="this.restapiservice.token" class="button" (click)="openAdminPage()">{{ "EditProfile" |
            translate}}</button>
        <button *ngIf="this.restapiservice.token" class="button" (click)="logOut()">{{ "LogOut" | translate}}</button>
    </div>
</nav>